body
{
    font-family:      Arial, sans-serif;
    font-size:        14px;
    background-color: #AAAAAA;
    margin:           0px;
    overflow:         hidden;
    margin:           0;
    padding:          0;
}

footer
{
    text-align: right;
    width: 100%;
    bottom: 0;
    position: fixed;
}
