body
{
    font-family:      Arial, sans-serif;
    font-size:        14px;
    background-color: #AAAAAA;
    margin:           0px;
    overflow:         hidden;
    margin:           0;
    padding:          0;
}

.Viewport
{
    position: absolute;
    top:      0px;
    left:     0px;
    right:    200px;
    bottom:   16px;
}

nav
{
    position: absolute;
    top:      0px;
    width:    200px;
    right:    0px;
    bottom:   16px;
}

footer
{
    position:   absolute;
    text-align: right;
    width:      100%;
    bottom:     0;
    position:   fixed;
}
